.logo-title {    
    background: url(https://raw.githubusercontent.com/evansmbithi/portfolio/Maestro/img/mon.jpg) no-repeat center;
    width: 45px;
    height: 46px;
    background-size: 77px;
    border-radius: 423px;
}

.titlewrapper{
    margin-top: 7px;
}
